# OS 관련
.DS_Store
Thumbs.db
Desktop.ini

# IDE 공통
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo
*~

# 환경 변수 및 설정 파일
.env
.env.local
.env.*.local
*.local

# 로그 파일
*.log
logs/

# Docker 관련
docker-compose.override.yml

# Test용
123123123123123.txt


# AWS 관련
.aws/
*.pem
*.key

# 기타
.DS_Store
*.bak
*.tmp
Backend/jupddang/env


# Flutter 자동 생성 파일 무시
**/windows/flutter/generated_plugin*.cc
**/windows/flutter/generated_plugin*.h
**/windows/flutter/generated_plugins.cmake
**/linux/flutter/generated_plugin*.cc
**/linux/flutter/generated_plugin*.h
**/linux/flutter/generated_plugins.cmake
**/macos/Flutter/GeneratedPluginRegistrant.swift


# 백엔드 테스트 파일 무시
Backend/jupddang/src/test/